NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/P6Rb8BvEAx
DISCORD_APPLICATION_WEBHOOK_URL=https://discord.com/api/webhooks/replace-this-value
DISCORD_APPLICATION_PUBLIC_KEY=your_discord_application_public_key
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_OPERATIONS_CHANNEL_ID=1358547247016444223
AVIATIONSTACK_ACCESS_KEY=optional_live_flight_data_key
